table.tabla1{
    border: red 1px solid;
}

table.tabla2{
    border: red 1px solid;
}

td.azul{
    border: blue 3px solid;
}

table.tabla3{
    border: green 1px solid;
    width: 40%;
    text-align: center;
}

td.verde{
    border: green 1px solid;
}

